.pie {
	margin: 30px 0px;
	overflow: hidden;
	background: #333;

	& img {	
		min-width: 200%;
		max-width: 200%;
		width: 200%;

		@include desde(tablet) {
			min-width: 100%;
			max-width: 100%;
			width: 100%;
		}
	}
}